class SideNavigationBar extends React.Component {
	componentDidMount() {
		document.getElementById("dropdown-button").addEventListener("click", function(){
			document.querySelector("#dropdown-content").classList.toggle('active');
			document.querySelector("#arrow-icon").classList.toggle('flip');
		});
	}
	loggedin() {
		if(this.props.signedin == true) {
			return (
				<div>
					<a className="line-on-it" href="/logout" data-method="delete" id="signout_link">
						<%= image_tag("043-power-button.svg", :alt => "icon", :class => "icon-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Sign out</a>
				</div>
			)
		} else {
			return (
				<div>
					<a href="/signup"><%= image_tag("045-add.svg", :alt => "icon", :class => "icon-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Sign up</a>
					<a className="line-on-it" href="/login"><%= image_tag("051-user.svg", :alt => "icon", :class => "icon-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Sign in</a>
				</div>
			)
		}
	}
	render() {
		return (
			<div id="side-navigate">
				{this.loggedin()}
				<button id="dropdown-button">Applications
					<div id="arrow-icon">↑</div>
				</button>
				<div id="dropdown-content">
					<a href="/signup"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 1</a>
					<a href="/image_differences"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 2</a>
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 3</a>
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 4</a>
				</div>
				<a id="top-line" href="/"><%= image_tag("044-information.svg", :alt => "icon", :class => "icon-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;About</a>
				<a href="/"><%= image_tag("049-send-mail.svg", :alt => "icon", :class => "icon-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Contact</a>
				<br/><br/>
				<%= image_tag("GitHub_Logo.png", :alt => "github", :id => "github") %>
			</div>
		)
	}
}
